Repository Mineplex-LLC/Studio-PublicDocs, pull requests merged in 2025-01, with the labels that each got.

#5 Update Party SDK
  contents/docs/sdk/features/party/index.mdx
Labels: docs: enhancement

#7 Change it so that sublinks only open for depth 1
  components/navigation/sublink.tsx
Labels: code: enhancement

#9 docs: LobbyModule page
  contents/docs/sdk/features/lobby/index.mdx
  settings/documents.ts
Labels: docs: new content
